# Environments
venv/
env/
.env
frontend/.env*.local
frontend/.env

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Node.js / Next.js frontend artifacts
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
frontend/dist/

# IDEs & Editors
.vscode/
.idea/

# Mac/Windows trash
.DS_Store
Thumbs.db
*.log